<a href="https://colab.research.google.com/github/yeolB/yeolB/blob/main/ch1_05_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **AI와 데이터 분석 기초: 디지털 비즈니스 생존전략**
## ch1. 파이썬 기초
## ch1_05. 반복문


---

## 1. 반복문이란?

* 반복해야 하는 일을 반복하는 것
* 집합에 대한 순회를 돌며 일을 처리할 때 사용

In [ ]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
mylist[2]

3

In [ ]:
mylist

mylist에 들어 있는 모든 값들을 출력하려고 한다면?

In [ ]:
print(mylist[0])
print(mylist[1])
print(mylist[2])
print('...')
print(mylist[8])
print(mylist[9])

시간과 노력을 단축 시키는 것이 바로 **반복문**

## 2. for 와 in을 활용하자! (for문과 while문)

**[기본 문법]**<br>
for 하나씩 꺼내올 때 변수 in [꺼내올 집합]

In [ ]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in [mylist]:
    print (i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 3. 반복문에서 짝수만 출력하려면?

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for i in mylist:
    if i % 2 == 0:
        print(i)

2
4
6
8
10

#mylist에서 홀수값들을 제곱해서 출력해라!#

In [ ]:
for i in mylist:
    if i % 2 != 0:
        print(i**2)

1
9
25
49
81

**continue** 라는 구문을 통해 아래 로직은 SKIP할 수 있습니다.

In [ ]:
for i in mylist:
    if i % 2 != 0:
        continue
    print(i)

2
4
6
8
10

## 4. break로 조건에 해당하면 빠져나와보자!

In [ ]:
mylist2 = [1,2,3,4,5,6,7,8,9]

i가 6 이상이면 STOP

In [ ]:
for i in mylist2:
    if i >= 6:
        print("끝")
        break
    print(i)

1
2
3
4
5
끝

In [ ]:
for i in mylist2:
    if i % 3 == 0:
        continue
    print(i)

1
2
4
5
7
8

In [ ]:
# range 함수를 이용해서 1부터 10에서 짝수만 갖는 b라는 변수를 만들어 보세요.

In [ ]:
a = list(range(1, 11, 2))
# 시작, 끝, 간격
print (a)

[1, 3, 5, 7, 9]

In [ ]:
b = list(range(2, 101, 2))
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# 5. 구구단 프로그램 만들기

2단부터 9단까지 구구단을 계산하는 프로그램을 만들어보자 (range함수를 이용할 것)

In [ ]:
mylist3 = [2, 3, 4, 5, 6, 7, 8, 9]
mylist4 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in mylist3:
    for j in mylist4:
        print(i, "*", j, "=", i*j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
for i in range(2, 10):
    print("#############")
    print(i, "단")
    for j in range(1, 10):
        print(i, "*", j, "=", i*j)

#############
2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
#############
3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
#############
4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
#############
5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
#############
6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
#############
7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
#############
8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
#############
9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

#6. While문 이해하기
* while 기본구조 (while 조건문: 수행할문장)
* while문은 조건문이 참인 동안에 while문 아래의 문장이 반복해서 수행된다.

## 6-1. 열번 찍어 안 넘어가는 나무 없다

In [ ]:
treehit = 0
while treehit < 10:
    treehit = treehit + 1
    print("나무를 %d번 찍었습니다." % treehit)
    if treehit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

##6-2. 음료수 자판기 (단, 음료수가 없으면 강제 판매 중지 하는 반복문을 만들어보자)

In [ ]:
drink = 20
money = 30000
#음료 가격은 500원

In [ ]:
while drink > 0:
    money = money - 500
    drink = drink - 1
    print("음료수를 %d개 뽑았습니다." % drink)
    print("돈이 %d원 남았습니다." % money)
    if drink == 0:
        print("음료수 재고가 없습니다.")
    if money < 500:
        print("돈이 부족합니다.")

음료수를 19개 뽑았습니다.
돈이 29500원 남았습니다.
음료수를 18개 뽑았습니다.
돈이 29000원 남았습니다.
음료수를 17개 뽑았습니다.
돈이 28500원 남았습니다.
음료수를 16개 뽑았습니다.
돈이 28000원 남았습니다.
음료수를 15개 뽑았습니다.
돈이 27500원 남았습니다.
음료수를 14개 뽑았습니다.
돈이 27000원 남았습니다.
음료수를 13개 뽑았습니다.
돈이 26500원 남았습니다.
음료수를 12개 뽑았습니다.
돈이 26000원 남았습니다.
음료수를 11개 뽑았습니다.
돈이 25500원 남았습니다.
음료수를 10개 뽑았습니다.
돈이 25000원 남았습니다.
음료수를 9개 뽑았습니다.
돈이 24500원 남았습니다.
음료수를 8개 뽑았습니다.
돈이 24000원 남았습니다.
음료수를 7개 뽑았습니다.
돈이 23500원 남았습니다.
음료수를 6개 뽑았습니다.
돈이 23000원 남았습니다.
음료수를 5개 뽑았습니다.
돈이 22500원 남았습니다.
음료수를 4개 뽑았습니다.
돈이 22000원 남았습니다.
음료수를 3개 뽑았습니다.
돈이 21500원 남았습니다.
음료수를 2개 뽑았습니다.
돈이 21000원 남았습니다.
음료수를 1개 뽑았습니다.
돈이 20500원 남았습니다.
음료수를 0개 뽑았습니다.
돈이 20000원 남았습니다.
음료수 재고가 없습니다.

In [ ]:
print("돈이 충분한가요?")
if money >= 500:
    print("yes")
else:
    print("no")

돈이 충분한가요?
yes